*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    background-color: hsl(226, 43%, 10%);
    justify-content: center;
    justify-items: center;
    font-optical-sizing: auto;
    font-weight: 300;
    color: white;
}


main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 50px 20px;
    gap: 1.5rem;
}

div{
    display: block;
    justify-content: center;
    /* justify-items: center; */
    
}

div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1.2rem;
    overflow: hidden;
    color: white;
}

#jeremy{
    width: 4rem;
    border: 0.2rem solid white;
    border-radius: 8rem;
    margin: 1rem 4rem 0.2rem 1rem;

}


#report{
    height: 70%;
    background-color: hsl(235, 45%, 61%);
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

h1{
    width: 50px;
    margin: 0rem 4rem 1rem 1rem;
}

div:nth-child(1) p{
    margin: 1rem 0 0.1rem 1rem;
    color: hsl(236, 100%, 87%);
}

.date{
    margin: 0.5rem 0 1rem 0.2rem;
    font-size: 0.8rem;
    color: white;
}

.date:last-child{
    color: hsl(236, 100%, 87%);
    padding-bottom: 4rem;
}


div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
    background-color: hsl(15, 100%, 70%);
    border-radius: 1rem;
}

div:nth-child(2) img{
    max-width: 4rem;
    margin-left: 50%;
    margin-top: -10%;
}

#work{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: inherit;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
    padding-left: -2rem;
}

#work:hover{
    cursor: pointer;
}
#work:hover .work-container{
    background-color: hsl(235, 46%, 20%);
    transition: all 0.3s ease-in-out;
}



.work-container{
    background-color: hsl(236, 46%, 47%);
    border-radius: 1rem;
    height: 80%;
    color: white;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0.1rem 0.8rem;
    position: absolute;
}



div:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: hsl(195, 74%, 62%);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}


div:nth-child(3) img{
    max-width: 4rem;
    margin-left: 50%;
    margin-top: -10%;
}

#play{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
}



.play-container{
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    height: 80%;
    color: white;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0.1rem 0.8rem;
    position: absolute;
}


div:nth-child(4){
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: hsl(348, 100%, 68%);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}


div:nth-child(4) img{
    max-width: 4rem;
    margin-left: 50%;
    margin-top: -10%;
}

#study{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
}

.study-container{
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    height: 80%;
    color: white;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0.1rem 0.8rem;
    position: absolute;
}


div:nth-child(5){
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 1rem;
    background-color: hsl(145, 58%, 55%);
    overflow: hidden;
    position: relative;
}


div:nth-child(5) img{
    max-width: 4rem;
    margin-left: 50%;
    margin-top: -5%;
}

#exercise{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
}



.exercise-container{
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    height: 80%;
    color: white;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0.1rem 0.8rem;
    position: absolute;
}

div:nth-child(6){
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: hsl(264, 64%, 52%);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}


div:nth-child(6) img{
    max-width: 4rem;
    margin-left: 50%;
    margin-top: -10%;
}

#social{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
}


.social-container{
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    height: 80%;
    color: white;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0.1rem 0.8rem;
    position: absolute;
}

div:nth-child(7){
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: hsl(43, 84%, 65%);
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}


div:nth-child(7) img{
    max-width: 4rem;
    margin-left: 50%;
    margin-top: -10%;
}

#self{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
}



.self-container{
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    height: 80%;
    color: white;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0.1rem 0.8rem;
    position: absolute;
}




